@import url('https://fonts.googleapis.com/css?family=Raleway:700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');
@import "variables.scss";

html {
    font-size: 14px;
}

body {
    font-family: $open-sans;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $raleway;
    font-weight: $fw700;
    color: $dark-gray;
}

.btn {
    background-color: $green;
    padding: 0.7rem 1.5rem;
    border-radius: 3px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    color: white;
    text-align: center;
}