// Primary colors
$soft-blue: hsl(243, 86%, 85%);
$dark-blue: hsl(243, 87%, 12%);
$white: hsl(255, 100%, 100%);
// Accent colors
$green: hsl(163, 95%, 43%);
// Neutral colors
$light-gray: hsl(106, 0%, 98%);
$gray: hsl(0, 0%, 50%);
$dark-gray: hsl(0, 0%, 17%);

$raleway: 'Raleway', sans-serif;
$open-sans: 'Open Sans', sans-serif;

$fw400: 400;
$fw600: 600;
$fw700: 700;